<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Highest Salary</title>
</head>
<body>

<form action="/highestresult" method="POST">
    <label>Team name:</label>
    <input type="text" name="team" value=""><br>

    <label>Year:</label>
    <input type="text" name="year" value=""><br>

    <input type="submit" name="send" value="Search"><br><br>
</form>

<form action="/salary" method="POST">
    <input type="submit" name="send" value="BACK">
</form>

</body>
</html>