<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baseball</title>
</head>
<body>

See information about baseball teams, coaches, and players.
<form action="/information" method="POST">
    <input type="submit" name="send" value="INFO"><br><br>
</form>

See statistics about baseball players.
<form action="/statistics" method="POST">
    <input type="submit" name="send" value="STATS"><br><br>
</form>

Manages salary for baseball coaches and players.
<form action="/salary" method="POST">
    <input type="submit" name="send" value="SALARY"><br><br>
</form>

</body>
</html>