<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Information</title>
</head>
<body>

<form action="/playerinfo" method="POST">
    <label>Player name:</label>
    <input type="text" name="pname" value=""><br>

    <label>Team name:</label>
    <input type="text" name="tname" value=""><br>

    <label>Year:</label>
    <input type="text" name="year" value=""><br>

    <input type="submit" name="send" value="Search"><br><br>
</form>

<form action="/information" method="POST">
    <input type="submit" name="send" value="BACK">
</form>

</body>
</html>